*,
*::before
*::after{
  margin: =100px auto;
  padding: =0;
  align-items: center;
}
body{
  margin:0;
  padding:0;
  top:50%;
  left:50%;
  background-color: hsl(89, 43%, 51%);
  text-align: center;
}
#button{
  background-color: lightskyblue;
}
#reset{
  background-color: powderblue;
}
#setting{
  background-color: lightblue;
}
#playAgain{
  background-color: burlywood;
}
#frame{
  background-color: lightsalmon;
}
#speed{
  background-color: lightsalmon;
}
#sound{
  background-color: lightsalmon;
}
#apply{
  background-color: lightsalmon;
}
